main {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
  #reload-btn {
        all: inherit;
  }
  
  .score {
        font-weight: bold;
      font-size: calc(20vh + 20vw);
      font-family: monospace;
      
  }

  img {
    width: calc(20vh + 20vw);

  }
  
  .score.reverse {
    transform: rotate(
  180deg);
  }